{{!-- templates/dialog/roll-result-dialog.hbs --}}
<div class="rfs-rrd">

  <div class="rfs-rrd__dice-row">
    {{#each dice}}
      <span class="rfs-die{{#if (eq this 6)}} rfs-die--six{{/if}}">{{this}}</span>
    {{/each}}
  </div>

  {{#if failed}}
    <div class="rfs-rrd__outcome rfs-rrd__outcome--failure">
      &#x2718; {{localize 'RFS.Chat.Failure'}} &mdash; {{total}} vs {{difficulty}} &mdash; +1 XP
    </div>
  {{else if allSixes}}
    <div class="rfs-rrd__outcome rfs-rrd__outcome--allsixes">
      &#x2726; {{localize 'RFS.Chat.AllSixesHeading'}} &mdash; {{total}} vs {{difficulty}}
    </div>
  {{else}}
    <div class="rfs-rrd__outcome rfs-rrd__outcome--success">
      &#x2714; {{localize 'RFS.Chat.Success'}} &mdash; {{total}} vs {{difficulty}}
    </div>
  {{/if}}

  {{#if modifier}}
    <div class="rfs-rrd__modifier">
      Status: {{rfsSignedNumber modifier}}
    </div>
  {{/if}}

  {{#if canClaimSkill}}
    <button type="button"
            class="rfs-btn rfs-btn--advancement rfs-btn--block"
            data-action="claimSkill">
      &#x2726; {{localize 'RFS.Dialog.Advancement.Confirm'}}
    </button>
  {{/if}}

  {{#if canSpendXp}}
    <button type="button"
            class="rfs-btn rfs-btn--spend-xp rfs-btn--block"
            data-action="spendXp">
      {{spendXpLabel}}
    </button>
  {{/if}}

</div>
