{{!-- templates/actor/partials/status-list.hbs --}}
{{!--
  Status list. Each status has a name and a numeric modifier.
  Positive values are advantages, negative are penalties.
  Examples: +2 Clean Shoe, -3 Broken Nose, -4 Raining
--}}

<div class="rfs-statuses">
  {{#if statuses.length}}
    {{#each statuses}}
      <div class="rfs-status {{#if (gt value 0)}}rfs-status--positive{{else if (lt value 0)}}rfs-status--negative{{else}}rfs-status--neutral{{/if}}"
           data-status-id="{{id}}">

        <span class="rfs-status__modifier">{{rfsSignedNumber value}}</span>

        {{#if ../isEditable}}
          <input class="rfs-status__name"
                 type="text"
                 name="system.statuses.{{@index}}.name"
                 value="{{name}}">
          <input class="rfs-status__value"
                 type="number"
                 name="system.statuses.{{@index}}.value"
                 value="{{value}}"
                 style="width: 3.5rem">
          <button type="button"
                  class="rfs-btn rfs-btn--icon rfs-btn--danger"
                  data-action="deleteStatus"
                  data-status-id="{{id}}"
                  title="{{localize 'RFS.Action.DeleteStatus'}}">
            ✕
          </button>
        {{else}}
          <span class="rfs-status__name">{{name}}</span>
        {{/if}}

      </div>
    {{/each}}
  {{else}}
    <p class="rfs-empty">{{localize 'RFS.Label.NoStatuses'}}</p>
  {{/if}}
</div>
